{% extends "_base.html" %}
{% load static %}

{% block title %}Favoris{% endblock %}

{% block content %}
<div class="container">
  <h2>Vos personnages en favoris</h2>
  <div id="favorites-container" class="row"></div>

  <h2>Vos series en favoris</h2>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
    const container = document.getElementById("favorites-container");

    if (favorites.length === 0) {
      container.innerHTML = "<p>Vous n'avez pas encore ajouté de personnages en favoris.</p>";
    } else {
      let htmlContent = "";
      favorites.forEach((character) => {
        htmlContent += `
          <div class="col-md-3">
            <div class="card mb-4">
              <img src="${character.thumbnail.path}.${character.thumbnail.extension}" class="height100 alt="${character.name}">
              <div class="card-body">
                <h5 class="card-title">${character.name}</h5>
                <p class="card-text">${character.description || "Description non disponible."}</p>
              </div>
              <button class="delete-btn" data-id="${character.id}" style="position: absolute; top: 10px; right: 10px; background-color: white; color: white; border: none; border-radius: 50%; width: 30px; height: 30px; cursor: pointer;">
                🗑️
              </button>
            </div>
          </div>
        `;
      });

      container.innerHTML = htmlContent;

      // Ajouter des événements de clic sur chaque bouton "poubelle"
      document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', (event) => {
          const characterId = event.target.getAttribute('data-id');
          removeFromFavorites(characterId);
        });
      });
    }

    // Fonction pour supprimer un personnage des favoris
    function removeFromFavorites(characterId) {
      favorites = favorites.filter(character => character.id != characterId);
      localStorage.setItem('favorites', JSON.stringify(favorites));
      // Recharger la page après suppression
      location.reload();
    }
  });
</script>
{% endblock %}
