{% extends "_base.html" %}
{% load static %}

{% block title %}Favoris{% endblock %}

{% block content %}
<div class="container">
  <h2>Vos personnages en favoris</h2>
  <div id="favorites-container" class="row"></div>

  <h2>Vos séries en favoris</h2>
  <div id="favorites-series-container" class="row"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Récupération des personnages favoris
    let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
    const charactersContainer = document.getElementById("favorites-container");

    if (favorites.length === 0) {
      charactersContainer.innerHTML = "<p>Vous n'avez pas encore ajouté de personnages en favoris.</p>";
    } else {
      let htmlContent = "";
      favorites.forEach((character) => {
        htmlContent += `
          <div class="col-md-3">
            <div class="card mb-4">
              <img src="${character.thumbnail.path}.${character.thumbnail.extension}" class="height100" alt="${character.name}">
              <div class="card-body">
                <h5 class="card-title">${character.name}</h5>
                <p class="card-text">${character.description || "Description non disponible."}</p>
              </div>
              <button class="delete-btn" data-id="${character.id}" style="position: absolute; top: 10px; right: 10px; background-color: white; color: white; border: none; border-radius: 50%; width: 30px; height: 30px; cursor: pointer;">
                🗑️
              </button>
            </div>
          </div>
        `;
      });
      charactersContainer.innerHTML = htmlContent;

      // Ajouter des événements de clic pour supprimer un personnage des favoris
      document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', (event) => {
          const characterId = event.target.getAttribute('data-id');
          removeFromFavorites(characterId);
        });
      });
    }

    function removeFromFavorites(characterId) {
      favorites = favorites.filter(character => character.id != characterId);
      localStorage.setItem('favorites', JSON.stringify(favorites));
      location.reload();
    }

    // Récupération des séries favorites
    let favoritesSeries = JSON.parse(localStorage.getItem('favoritesSeries')) || [];
    const seriesContainer = document.getElementById("favorites-series-container");

    if (favoritesSeries.length === 0) {
      seriesContainer.innerHTML = "<p>Vous n'avez pas encore ajouté de séries en favoris.</p>";
    } else {
      let seriesHtmlContent = "";
      favoritesSeries.forEach((serie) => {
        seriesHtmlContent += `
          <div class="col-md-3">
            <div class="card mb-4">
              <img src="${serie.thumbnail.path}.${serie.thumbnail.extension}" class="height100" alt="${serie.title}">
              <div class="card-body">
                <h5 class="card-title">${serie.title}</h5>
                <p class="card-text">${serie.description || "Description non disponible."}</p>
              </div>
              <button class="delete-series-btn" data-id="${serie.id}" style="position: absolute; top: 10px; right: 10px; background-color: white; color: white; border: none; border-radius: 50%; width: 30px; height: 30px; cursor: pointer;">
                🗑️
              </button>
            </div>
          </div>
        `;
      });
      seriesContainer.innerHTML = seriesHtmlContent;

      // Ajouter des événements de clic pour supprimer une série des favoris
      document.querySelectorAll('.delete-series-btn').forEach(button => {
        button.addEventListener('click', (event) => {
          const serieId = event.target.getAttribute('data-id');
          removeFromSeriesFavorites(serieId);
        });
      });
    }

    function removeFromSeriesFavorites(serieId) {
      favoritesSeries = favoritesSeries.filter(serie => serie.id != serieId);
      localStorage.setItem('favoritesSeries', JSON.stringify(favoritesSeries));
      location.reload();
    }
  });
</script>
{% endblock %}
