{% extends "_base.html" %}
{% load static %}

{% block title %}Séries Marvel{% endblock %}

{% block content %}
<div class="container">
  <h2>Liste des Séries Marvel</h2>
  <p>Bienvenue sur notre page dédiée aux séries Marvel.</p>
  <div id="series-container" class="row">
  </div>
</div>

<script src="{% static 'marvel_series.js' %}"></script>
{% endblock %}


  {% comment %} {% if series %}
    <div class="row">
      {% for serie in series %}
        <div class="col-md-3">
          <div class="card mb-4">
            <img src="{{ serie.thumbnail.path }}.{{ serie.thumbnail.extension }}" class="card-img-top" alt="{{ serie.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ serie.title }}</h5>
              <p class="card-text">{{ serie.description|default:"Description non disponible." }}</p>
              <a href="{{ serie.urls.0.url }}" class="btn btn-primary" target="_blank">Voir les détails</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Aucune série trouvée.</p>
  {% endif %}

  {% if error %}
    <p class="text-danger">{{ error }}</p>
  {% endif %}
</div>
{% endblock %} {% endcomment %}
