.header {
  background-color: #f8f9fa; /* Couleur de fond légère */
  border-bottom: 2px solid #dee2e6; /* Bordure en bas */
}

.logo {
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-item {
  margin-left: 20px; /* Espacement entre les liens */
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding-bottom: 10px; /* Espacement en bas pour aligner les liens */
  position: relative;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff; /* Couleur active */
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #007bff;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  width: 100%; /* Animation survol */
}

.svg-margin {
  margin-top: 20px; /* Ajuste cette valeur selon ton besoin */
}
